@model List<ResultProductDTO>

<style>
    img {
        border-radius: 50%;
    }
</style>
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Son Eklenen 5 İlan</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Şehir</th>
                        <th scope="col">İlçe</th>
                        <th scope="col">Görsel</th>
                        <th scope="col">Eklendigi Tarih</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Türü</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">İlanı Gör</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>@item.Title</td>
                            <td>@item.City</td>
                            <td>@item.Disrict</td>
                            <td>
                                <img src="@item.CoverImage" height="50" width="50" />
                            </td>
                            <td>@item.Adverstisement.ToString("dd.MM.yyyy")</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Type</td>
                            <td>@item.Price</td>
                            <td><a href="/Product/Details/@item.ProductID" class="btn btn-outline-primary m-2">İlanı Gör</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>